{% extends "presupuesto_profesional_base.html" %}
{% block secciones %}
  <div class="seccion">Partidas</div>
  <table class="detalle">
    <tr class="enc">
      <td width="{{ 32 if hay_descuentos else 46 }}%">PARTIDA</td>
      <td class="num" width="10%">UNIDAD</td>
      <td class="num" width="11%">CANTIDAD</td>
      <td class="num" width="{{ 18 if hay_descuentos else 17 }}%">PRECIO UD.</td>
      {% if hay_descuentos %}<td class="num" width="12%">DTO.</td>{% endif %}
      <td class="num" width="{{ 17 if hay_descuentos else 16 }}%">IMPORTE</td>
    </tr>
    {% for l in lineas %}
    <tr class="{{ 'par' if loop.index is even else '' }}">
      <td>{{ l.nombre }}<br><span class="detalle-gris">{{ l.familia }}</span></td>
      <td class="num">{{ l.unidad }}</td>
      <td class="num">{{ l.cantidad|cant }}</td>
      <td class="num">{{ l.precio_unitario|eur }}</td>
      {% if hay_descuentos %}<td class="num">{% if l.descuento_pct %}{{ l.descuento_pct|cant }}%{% else %}&nbsp;{% endif %}</td>{% endif %}
      <td class="num">{{ l.importe|eur }}</td>
    </tr>
    {% endfor %}
    <tr class="subtotal">
      <td colspan="{{ 4 + (1 if hay_descuentos else 0) }}">Total partidas</td>
      <td class="num">{{ presupuesto.subtotal|eur }}</td>
    </tr>
  </table>
{% endblock %}
{% block filas_totales %}{% endblock %}
